@model TPFinalAR.Models.PlazoFijo

@{
    ViewData["Title"] = "Detalle";
}

<h1 class="h1">Detalle</h1>

<div>
    <h4 class="h4">Plazo fijo</h4>
    <hr />
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model._titular)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model._monto)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model._fechaIni)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model._fechaFin)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model._tasa)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model._pagado)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model._titular._id_usuario)
            </td>
            <td>
                @Html.DisplayFor(model => model._monto)
            </td>
            <td>
                @Html.DisplayFor(model => model._fechaIni)
            </td>
            <td>
                @Html.DisplayFor(model => model._fechaFin)
            </td>
            <td>
                @Html.DisplayFor(model => model._tasa)
            </td>
            <td>
                @Html.DisplayFor(model => model._pagado)
            </td>
        </tr>
    </tbody>
</table>

<div>
    <div class="container mt-5">
        <a asp-action="Index" class="btn btn-warning text-white text-decoration-none"><i class="fa fa-solid fa-backward mx-2"></i>Lista de plazos fijos</a>
    </div>
</div>
