@model TPFinalAR.Models.Pago

@{
    ViewData["Title"] = "Detalle";
}

<h1 class="h1">Detalle</h1>

<div>
    <h4 class="h4">Orden de pago</h4>
    <hr />
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model._usuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._monto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._pagado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._metodo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model._detalle)
                </th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model._usuario._id_usuario)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model._monto)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model._pagado)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model._metodo)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model._detalle)
                    </td>
                </tr>
        </tbody>
    </table>
</div>
<div class="container mt-5">
    <button class="btn btn-warning"><a asp-action="Index" class="text-white text-decoration-none"><span class="fa fa-solid fa-backward mx-2"></span>Lista de ordenes de pago</a></button>
</div>
