@model IEnumerable<TPFinalAR.Models.Pago>

@{
    ViewData["Title"] = "Ordenes de pago";
}

@if (ViewBag.Message == "ok")
{
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Operación realizada.',
            showConfirmButton: false,
            timer: 1500
        });
    </script>
}

<h1 class="h1">Ordenes de pago</h1>

<p class="my-4">
    <a asp-action="Create" class="btn btn-success text-decoration-none text-white"><i class="fa-solid fa-circle-plus px-2"></i>Nueva orden de pago</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._pagado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._metodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._detalle)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model._id_metodo)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._usuario._id_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._pagado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._metodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._detalle)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item._id_metodo)
            </td>*@
            <td>
                <a asp-action="Details" asp-route-id="@item._id_pago" class="btn btn-secondary text-decoration-none text-white"><i class="fa fa-solid fa-file-lines px-2"></i>Detalle</a>
                <a asp-action="Delete" asp-route-id="@item._id_pago" class="btn btn-danger text-decoration-none text-white"><i class="fa fa-solid fa-trash-can px-2"></i>Eliminar</a>
                <a asp-action="Pagar" asp-route-id="@item._id_pago" class="btn btn-primary text-decoration-none text-white"><i class="fa-solid fa-money-bill-wave px-2"></i>Pagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
