@model TPFinalAR.Models.Pago

@{
    ViewData["Title"] = "Pagar";
}

@if (@ViewBag.Message == "nok")
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Verifique el saldo del medio de pago.',
            footer: 'Gracias..'
        })
    </script>
}
@if (@ViewBag.Message == "nokm")
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Debe seleccionar solo un medio de pago.',
            footer: 'Gracias..'
        })
    </script>
}
@if (@ViewBag.Message == "nokp")
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Orden de pago efectuada previamente.',
            footer: 'Gracias..'
        })
    </script>
}

<h1 class="h1">Pagar</h1>

<h3 class="h3 text-danger">Esta seguro que desea pagar su orden de pago?</h3>
<div>
    <hr />
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model._usuario)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model._monto)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model._pagado)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model._metodo)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model._detalle)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model._usuario._id_usuario)
                </td>
                <td>
                    @Html.DisplayFor(model => model._monto)
                </td>
                <td>
                    @Html.DisplayFor(model => model._pagado)
                </td>
                <td>
                    @Html.DisplayFor(model => model._metodo)
                </td>
                <td>
                    @Html.DisplayFor(model => model._detalle)
                </td>
            </tr>
        </tbody>
    </table>
    
    <form asp-action="Pagar">
        <input type="hidden" asp-for="_id_pago" />
        <div class="form-group">
            <label class="control-label my-2">Seleccione CBU de pago: </label>
            <select name="cbu" class="form-control mb-3" asp-items="ViewBag.cbu">
                <option></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label my-2">Seleccione tarjeta de pago: </label>
            <select name="tarjeta" class="form-control mb-3" asp-items="ViewBag.tarjeta">
                <option></option>
            </select>
        </div>
        <input type="submit" value="Pagar orden" class="btn btn-danger" />
    </form>

    <div class="container mt-5">
            <button class="btn btn-warning"><a asp-action="Index" class="text-white text-decoration-none"><span class="fa fa-solid fa-backward mx-2"></span>Lista de ordenes de pago</a></button>
    </div>
</div>
