@model TPFinalAR.Models.TarjetaDeCredito

@{
    ViewData["Title"] = "Detalle";
}

<h1 class="h1">Detalle</h1>

<div>
    <h4 class="h4">Tarjeta de crédito</h4>
    <hr />
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model._titular)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model._numero)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model._codigoV)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model._limite)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model._consumos)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model._titular._id_usuario)
            </td>
            <td>
                @Html.DisplayFor(model => model._numero)
            </td>
            <td>
                @Html.DisplayFor(model => model._codigoV)
            </td>
            <td>
                @Html.DisplayFor(model => model._limite)
            </td>
            <td>
                @Html.DisplayFor(model => model._consumos)
            </td>
        </tr>
    </tbody>
</table>

<div>
    <div class="container mt-5">
        <a asp-action="Index" class="btn btn-warning text-white text-decoration-none"><i class="fa fa-solid fa-backward mx-2"></i>Lista de tarjetas</a>
    </div>
</div>
