@model TPFinalAR.Models.TarjetaDeCredito

@{
    ViewData["Title"] = "Pago de tarjeta de crédito";
}

@if (@ViewBag.Message == "nok")
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Saldo insuficiente o la tarjeta se encuentra totalmente paga',
            footer: 'Modifique medio de pago..'
        })
    </script>
}

<h1 class="h1">Pago de tarjeta de crédito</h1>

<h3 class="h3 text-danger">Esta seguro que desea pagar su tarjeta de crédito?</h3>
<div>
    <hr />
</div>
    
 <div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model._titular)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model._numero)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model._codigoV)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model._limite)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model._consumos)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model._titular._id_usuario)
                </td>
                <td>
                    @Html.DisplayFor(model => model._numero)
                </td>
                <td>
                    @Html.DisplayFor(model => model._codigoV)
                </td>
                <td>
                    @Html.DisplayFor(model => model._limite)
                </td>
                <td>
                    @Html.DisplayFor(model => model._consumos)
               </td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Pagar" class="container mt-5">
        <div class="form-group">
            <label class="control-label my-2">Seleccione CBU de pago: </label>
            <select name="cbu" class="form-control mb-3" asp-items="ViewBag._cbu"></select>
        </div>
        <input type="hidden" asp-for="_id_tarjeta" />
        
        <input type="submit" value="Pagar producto" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-warning text-white text-decoration-none"><i class="fa fa-solid fa-backward mx-2"></i>Lista de tarjetas</a>
    </form>
</div>
